body {
  background: url(./images/pattern-background-desktop.svg), hsl(225, 100%, 94%);
  background-repeat: no-repeat;
}

body, a, button {
  font-family: 'Red Hat Display';
}

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 400px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-hero {
  height: 200px;
}

.card-title {
  font-size: 24px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-top: 30px;
}

.card-description {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  margin-top: 25px;
  width: 75%;
  text-align: center;
  line-height: 25px;
}

.payment-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: hsl(225, 100%, 98%);
  padding: 25px 25px;
  border-radius: 10px;
}

.payment-container > div {
  display: flex;
  align-items: center;
}

.payment-container a {
  font-weight: 700;
  font-size: 14px;
}

.payment-container a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}

.payment-plan {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.payment-plan span:first-child {
  font-weight: 900;
  margin-bottom: 10px;
  color: hsl(223, 47%, 23%);
}

.payment-plan span:last-child {
  color: hsl(224, 23%, 55%);
}

button {
  width: 75%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0 10px 20px lightgrey;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.cancel-button {
  text-decoration: none;
  font-weight: 900;
  color: hsl(224, 23%, 55%);
  font-size: 14px;
  margin-bottom: 30px;
}